In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv("C:\Bi\Win Backup\LongDA\Lvl1\Class4 KeyDRM Project\Customers.csv")
customers

         customerid               mac             created_date
0             39082      001D20A8F005  2011-08-22 17:34:40.547
1             39083      64680C248F4C  2011-08-22 18:25:58.470
2             39084      64680C30D3C8  2011-08-22 18:46:14.983
3             39085      001D20A8F0F9  2011-08-22 18:53:49.560
4             39086      64680C24948D  2011-08-22 20:57:58.907
...             ...               ...                      ...
2772332     2710997  FBOX8CC84B000015  2020-04-16 09:27:10.580
2772333     2711049  FBOX8CC84B000016  2020-04-16 09:40:59.917
2772334     2723201  FBOXb84deed15fb1  2020-04-22 11:18:03.107
2772335     2733268  FBOX8CC84B000007  2020-04-28 10:22:18.913
2772336     2753215  FBOX02E7F9ABE977  2020-05-11 08:50:21.117

[2772337 rows x 3 columns]

In [3]:
customers = customers.dropna()
customers.rename(columns={'customerid': 'CustomerID','created_date':'Date'},inplace = True)
customers['Date'] = pd.to_datetime(customers['Date']).dt.strftime('%Y-%m-%d')
customers['Date'] = pd.to_datetime(customers['Date'])
customers['CustomerID'] = customers['CustomerID'].astype(str)
customers

C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4246489975.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers.rename(columns={'customerid': 'CustomerID','created_date':'Date'},inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4246489975.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers['Date'] = pd.to_datetime(customers['Date']).dt.strftime('%Y-%m-%d')
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4246489975.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers['Date'] = pd.to_datetime(customers['Date'])
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4246489975.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers['CustomerID'] = customers['CustomerID'].astype(str)

        CustomerID               mac       Date
0            39082      001D20A8F005 2011-08-22
1            39083      64680C248F4C 2011-08-22
2            39084      64680C30D3C8 2011-08-22
3            39085      001D20A8F0F9 2011-08-22
4            39086      64680C24948D 2011-08-22
...            ...               ...        ...
2772332    2710997  FBOX8CC84B000015 2020-04-16
2772333    2711049  FBOX8CC84B000016 2020-04-16
2772334    2723201  FBOXb84deed15fb1 2020-04-22
2772335    2733268  FBOX8CC84B000007 2020-04-28
2772336    2753215  FBOX02E7F9ABE977 2020-05-11

[2772336 rows x 3 columns]

In [4]:
log_BHD = pd.read_csv("C:\Bi\Win Backup\LongDA\Lvl1\Class4 KeyDRM Project\Log_BHD_MovieID.csv")
log_BHD

,CustomerID,MovieID,FTYPE,REALTIMEPLAYING,DATE,folder,Utype
0,1177679,100059478,3,30,5/1/2019,3065,4
1,1021748,100059478,3,3321,5/1/2019,3065,4
2,1149426,100059479,3,3623,5/1/2019,3063,4
3,1180728,100054913,3,155,5/1/2019,3061,4
4,1092356,100054913,3,24,5/1/2019,3061,4
...,...,...,...,...,...,...,...
935258,2339483,100071543,3,5107,5/3/2020,3063,4
935259,2135270,100071543,3,5106,5/6/2020,3063,4
935260,2710640,100071544,3,3037,5/8/2020,3063,4
935261,2764335,100071541,3,91,5/19/2020,3063,4
935262,2529548,100058056,3,169,5/22/2020,3053,4

In [5]:
log_BHD = log_BHD[['CustomerID','MovieID', 'DATE']]
log_BHD.dropna(inplace = True)
log_BHD.rename(columns = {'DATE':'Date'},inplace = True)
log_BHD['CustomerID'] = log_BHD['CustomerID'].astype(str)
log_BHD['MovieID'] = log_BHD['MovieID'].astype(str)
log_BHD['Date'] = pd.to_datetime(log_BHD['Date'])
log_BHD

C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\1121407140.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_BHD.dropna(inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\1121407140.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_BHD.rename(columns = {'DATE':'Date'},inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\1121407140.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_BHD['CustomerID'] = log_BHD['CustomerID'].astype(str)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\1121407140.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_BHD['MovieID'] = log_BHD['MovieID'].astype(str)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\1121407140.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_BHD['Date'] = pd.to_datetime(log_BHD['Date'])

       CustomerID    MovieID       Date
0         1177679  100059478 2019-05-01
1         1021748  100059478 2019-05-01
2         1149426  100059479 2019-05-01
3         1180728  100054913 2019-05-01
4         1092356  100054913 2019-05-01
...           ...        ...        ...
935258    2339483  100071543 2020-05-03
935259    2135270  100071543 2020-05-06
935260    2710640  100071544 2020-05-08
935261    2764335  100071541 2020-05-19
935262    2529548  100058056 2020-05-22

[935263 rows x 3 columns]

In [8]:
log_Fimplus = pd.read_csv("C:\Bi\Win Backup\LongDA\Lvl1\Class4 KeyDRM Project\Log_Fimplus_MovieID.csv")
log_Fimplus

,CustomerID,MovieId,Ftype,realtimeplaying,date,folder,utype
0,1665166,100060921,1,63404,2019-05-04 00:23:41.000,4035,4
1,1949528,100069961,1,938,2019-05-04 00:23:46.000,4035,4
2,1685734,100067273,1,2544,2019-05-04 00:23:48.000,4021,4
3,468599,100069542,1,846,2019-05-04 00:23:56.000,4035,4
4,468599,100069542,1,847,2019-05-04 00:23:56.000,4035,4
...,...,...,...,...,...,...,...
1687007,122658,100070373,1,1379,2019-07-09 09:08:05.000,4035,4
1687008,1875107,100061804,1,248,2019-07-09 09:08:06.000,4027,4
1687009,148871,100067273,1,702,2019-07-09 09:08:07.000,4021,4
1687010,537262,100067371,1,1301,2019-07-09 09:08:09.000,4024,4
1687011,2076361,100064592,1,62,2019-07-09 09:08:12.000,4021,4

In [9]:
log_Fimplus = log_Fimplus[['CustomerID','MovieId','date']]
log_Fimplus.dropna(inplace = True)
log_Fimplus.rename(columns={'date':'Date','MovieId':'MovieID'},inplace = True)
log_Fimplus['CustomerID'] = log_Fimplus['CustomerID'].astype(str)
log_Fimplus['MovieID'] = log_Fimplus['MovieID'].astype(str)
log_Fimplus['Date'] = pd.to_datetime(log_Fimplus['Date']).dt.strftime('%Y-%m-%d')
log_Fimplus['Date'] = pd.to_datetime(log_Fimplus['Date'])
log_Fimplus

C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4162232697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_Fimplus.dropna(inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4162232697.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_Fimplus.rename(columns={'date':'Date','MovieId':'MovieID'},inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4162232697.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_Fimplus['CustomerID'] = log_Fimplus['CustomerID'].astype(str)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4162232697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_Fimplus['MovieID'] = log_Fimplus['MovieID'].astype(str)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4162232697.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_Fimplus['Date'] = pd.to_datetime(log_Fimplus['Date']).dt.strftime('%Y-%m-%d')
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\4162232697.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_Fimplus['Date'] = pd.to_datetime(log_Fimplus['Date'])

        CustomerID    MovieID       Date
0          1665166  100060921 2019-05-04
1          1949528  100069961 2019-05-04
2          1685734  100067273 2019-05-04
3           468599  100069542 2019-05-04
4           468599  100069542 2019-05-04
...            ...        ...        ...
1687007     122658  100070373 2019-07-09
1687008    1875107  100061804 2019-07-09
1687009     148871  100067273 2019-07-09
1687010     537262  100067371 2019-07-09
1687011    2076361  100064592 2019-07-09

[1687012 rows x 3 columns]

In [10]:
MV = pd.read_csv("C:\Bi\Win Backup\LongDA\Lvl1\Class4 KeyDRM Project\MV_PropertiesShowVN.csv")
MV

,id,toptitle,titleEN,release,actors,directors,Producers,PublishCountry,Duration,isDRM
0,100000001,Tâm lý,Innocent Steps,2005.0,"Mun Geun-yung, Park Kun-hyung, Jung Yu-mi",Park Young-hoon,Culture Cap Media,Hàn Quốc,720.0,0
1,100000002,Hành động,AAofUltron_1080p_10M_AC3_H264_TS,2015.0,"Robert Downey Jr., Mark Ruffalo, Chris Evans",Joss Whedon,Marvel Studios,Mỹ,48.0,0
2,100000003,Hành động,AAofUltron_1080p_8M_AC3_H264_TS,2015.0,"Robert Downey Jr., Mark Ruffalo, Chris Evans",Joss Whedon,Marvel Studios,Mỹ,48.0,0
3,100000004,Hành động,AAofUltron_720p_4M_AC3_H264_TS,2015.0,"Robert Downey Jr., Mark Ruffalo, Chris Evans",Joss Whedon,Marvel Studios,Mỹ,48.0,0
4,100000005,Hoạt hình,Ajin,2016.0,"Mamoru Miyano, Yoshimasa Hosoya, Mikako Komatsu",Hiroaki Ando,Polygon Pictures,Nhật Bản,720.0,0
...,...,...,...,...,...,...,...,...,...,...
28802,100078454,Tâm lý,Papillon,2017.0,"Charlie Hunnam, Damijan Oklopdzic, Christopher...",Michael Noer,Red Granite Pictures,Mỹ,NaN,0
28803,100078476,Hành động,Demon Slayer The Movie: Mugen Train,2020.0,"Natsuki Hanae, Yoshitsugu Matsuoka, Akari Kito",Haruo Sotozaki,Ufotable,Nhật Bản,NaN,0
28804,100078481,Việt Nam,Homecoming Star,2021.0,"Lâm Thanh Nhã, Dương Gia Mỹ, Trung Dân",Dương Ngọc Của,Dien Quan Entertainment,Việt Nam,NaN,0
28805,100078488,Hoa ngữ,Hua Xu Yin,2015.0,"Trịnh Gia Dĩnh, Lâm Viên, Cao Hạo","Lý Đạt Siêu, Đàm Hữu Nghiệp",Tianjin North Film Group,Trung Quốc,NaN,0
28806,100078489,Hoa ngữ,Ode To Joy 3,2022.0,"Giang Sơ Ảnh, Dương Thái Ngọc, Trương Giai Ninh",Giản Xuyên Hòa,Dongyang Noon Sunshine Film and Television Co.,Trung Quốc,NaN,0

In [11]:
MV = MV[['id','isDRM']]
MV.dropna(inplace = True)
MV.rename(columns={'id':'MovieID'}, inplace = True)
MV['MovieID'] = MV['MovieID'].astype(str)
MV

C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\3709630822.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MV.dropna(inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\3709630822.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MV.rename(columns={'id':'MovieID'}, inplace = True)
C:\Users\duytm\AppData\Local\Temp\ipykernel_22236\3709630822.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MV['MovieID'] = MV['MovieID'].astype(str)

         MovieID  isDRM
0      100000001      0
1      100000002      0
2      100000003      0
3      100000004      0
4      100000005      0
...          ...    ...
28802  100078454      0
28803  100078476      0
28804  100078481      0
28805  100078488      0
28806  100078489      0

[28807 rows x 2 columns]

In [12]:
MV_1 = MV[MV['isDRM'] == 1]
MV_1

         MovieID  isDRM
120    100000196      1
145    100000268      1
146    100000275      1
147    100000276      1
206    100000491      1
...          ...    ...
28793  100078440      1
28795  100078444      1
28797  100078446      1
28798  100078447      1
28800  100078451      1

[6605 rows x 2 columns]

In [13]:
BHD_1 = log_BHD.merge(MV_1, on = 'MovieID', how = 'left')
BHD_1 = BHD_1.dropna()
BHD_1 = BHD_1.groupby('Date')['CustomerID'].nunique().reset_index()
BHD_1

          Date  CustomerID
0   2019-05-01          93
1   2019-05-02          68
2   2019-05-03          73
3   2019-05-04          89
4   2019-05-05          83
..         ...         ...
392 2020-05-27         531
393 2020-05-28         521
394 2020-05-29         560
395 2020-05-30         583
396 2020-05-31         540

[397 rows x 2 columns]

In [14]:
Fimplus_1 = log_Fimplus.merge(MV_1, on = 'MovieID', how = 'left')
Fimplus_1 = Fimplus_1.dropna()
Fimplus_1 = Fimplus_1.groupby('Date')['CustomerID'].nunique().reset_index()
Fimplus_1

          Date  CustomerID
0   2019-05-01        4520
1   2019-05-02        3780
2   2019-05-03        4092
3   2019-05-04        4522
4   2019-05-05        4567
..         ...         ...
118 2019-08-27        3475
119 2019-08-28        3581
120 2019-08-29        3659
121 2019-08-30        3891
122 2019-08-31        4036

[123 rows x 2 columns]

In [16]:
log_GetDRM = pd.read_csv("C:\Bi\Win Backup\LongDA\Lvl1\Class4 KeyDRM Project\Log_Get_DRM_List.csv")
log_GetDRM

        CustomerID        Date           Mac
0           378250  2020-04-12  B046FCB46C3A
1          1636894  2020-04-19  DCA26622E8BD
2          1404674  2020-04-22  90324B0EE445
3          1439347  2020-04-24  90324B36BE3E
4          2164448  2020-05-16  08674EF3A0DB
...            ...         ...           ...
663589      630642  2020-04-20  B046FCBB6D64
663590     1664259  2020-05-04  D89C67A94542
663591     1554501  2020-04-16  DCA2664E65D6
663592     2463517  2020-04-30  E86F3810E6CA
663593     2228077  2020-05-17  E4AB891BF11B

[663594 rows x 3 columns]

In [17]:
log_GetDRM.dropna(inplace = True)
log_GetDRM['Date'] = pd.to_datetime(log_GetDRM['Date'])
log_GetDRM = log_GetDRM.groupby('Date')['CustomerID'].nunique().reset_index()
log_GetDRM

         Date  CustomerID
0  2020-04-03       13877
1  2020-04-04       14289
2  2020-04-05       14455
3  2020-04-06       12990
4  2020-04-07       12956
5  2020-04-08       12785
6  2020-04-09       12562
7  2020-04-10       12396
8  2020-04-11       13119
9  2020-04-12       13322
10 2020-04-13       12526
11 2020-04-14       12149
12 2020-04-15       12171
13 2020-04-16       12049
14 2020-04-17       12041
15 2020-04-18       12520
16 2020-04-19       12800
17 2020-04-20       11761
18 2020-04-21       11752
19 2020-04-22       11529
20 2020-04-23       11424
21 2020-04-24       11563
22 2020-04-25       12097
23 2020-04-26       12262
24 2020-04-27       10931
25 2020-04-28       10654
26 2020-04-29       10586
27 2020-04-30       10411
28 2020-05-01        9079
29 2020-05-02        9527
30 2020-05-03       10736
31 2020-05-04        9744
32 2020-05-05        9327
33 2020-05-06        9214
34 2020-05-07        8799
35 2020-05-08        9058
36 2020-05-09        9767
37 2020-05-10       10129
38 2020-05-11        9268
39 2020-05-12        8969
40 2020-05-13        9569
41 2020-05-14        9538
42 2020-05-15        9363
43 2020-05-16       12056
44 2020-05-17       11892
45 2020-05-18        9892
46 2020-05-19        9405
47 2020-05-20        9315
48 2020-05-21        8844
49 2020-05-22        9032
50 2020-05-23       12367
51 2020-05-24       12046
52 2020-05-25       10136
53 2020-05-26        9708
54 2020-05-27        9662
55 2020-05-28        9340
56 2020-05-29        9292
57 2020-05-30       11610
58 2020-05-31       11346
59 2020-06-01        9089

In [33]:
DRM = BHD_1.merge(Fimplus_1, on = 'Date', how = 'outer').merge(log_GetDRM, on = 'Date', how = 'outer')
DRM.fillna(0, inplace = True)
DRM.rename(columns = {'CustomerID_x':'CustomerBHD','CustomerID_y':'CustomerFimplus','CustomerID':'CustomerPhimGoi'},inplace = True)
DRM['CustomerBHD'] = DRM['CustomerBHD'].astype(int)
DRM['CustomerFimplus'] = DRM['CustomerFimplus'].astype(int)
DRM['CustomerPhimGoi'] = DRM['CustomerPhimGoi'].astype(int)
DRM

          Date  CustomerBHD  CustomerFimplus  CustomerPhimGoi
0   2019-05-01           93             4520                0
1   2019-05-02           68             3780                0
2   2019-05-03           73             4092                0
3   2019-05-04           89             4522                0
4   2019-05-05           83             4567                0
..         ...          ...              ...              ...
393 2020-05-28          521                0             9340
394 2020-05-29          560                0             9292
395 2020-05-30          583                0            11610
396 2020-05-31          540                0            11346
397 2020-06-01            0                0             9089

[398 rows x 4 columns]

In [34]:
DRM.to_csv('KeyDRM_python.csv', index = False)